body {
  display: flex;
  flex-direction: column;
  background-color: #6B3362;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #58336B;
  padding: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li {
  display: flex;
  padding: 0.6rem 0.7rem;
  list-style-type: none;
}

.logo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav > a, nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-family: Inknut Antiqua;
}

.title-card {
  display: flex;
  background-color: #58336B;
  align-items: flex-start;
  margin-left: 1rem;
  width: max-content;
  padding: 1%;
  border-radius: 10px;
}

/* Index */

.hero-image
{
  position: relative;
  height: 50vh;
}

.hero-image > video {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
}

/* Reminders page */

.remind-sections {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  border-radius: 10%;
}

.reminders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #58336B;
  width: 15rem;
}

.reminders > p {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 5.5rem;
  height: 2.5rem;
  align-items: center;
  border-radius: 5%;
}

.create-reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #58336B;
  width: 20rem;
  
}

/* Privacy & Security */
.title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #58336B;
  width: 15rem;
}




/* mobile styles */
@media screen and (max-width:680px){

  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    justify-content: center;
  }

}

