nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav > a > img {
  max-width: 100px;
  max-height: 100px;  
}

/* mobile styles */
@media screen and (max-width:680px){

}
     /* .flex-container {
  flex-direction: column;
}*/